# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b65168e41e0d551ce32e10d166ae1efb8685975f879c01f4174ec9a554d91fb873c22259710e362094994ae7fee4b2f725169a67b8c6c549187d55f60647c159

test:
  secret_key_base: 1262f6d9cdfd407a17d0c2355c1c59460e437096133bd418ceffcfd5f2e1b5dad9446e70a1b0c7001cd288a85a2629c6dab9b455477d97ac23de9eede7c330e3

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
